<div id="animation-container">	
  <ul>
		<li><input #duration value = 120 type="number" (change)="tripDuration = duration.value"> Trip Duration in Seconds</li>
		<li><input #rclevel value = 1 type="number"(keyup)="updateLevel(rclevel.value)"> Runecrafting Level</li>
  </ul>
  <div id="pouches">
    <input #small id="small-pouch"type="checkbox"(change)="updateSmallPouch(small.checked)">
    <label for="small-pouch">Small Pouch(1)</label>
    <input #medium id="medium-pouch" type="checkbox"(change)="updateMediumPouch(medium.checked)">
    <label for="medium-pouch">Medium Pouch(25)</label>
    <input #large id="large-pouch" type="checkbox"(change)="updateLargePouch(large.checked)">
    <label for="large-pouch">Large Pouch(50)</label>
    <input #giant id="giant-pouch" type="checkbox"(change)="updateGiantPouch(giant.checked)">
    <label for="giant-pouch">Giant Pouch(75)</label>
  </div>
</div>