@-webkit-keyframes slide {
	from {height:0px;}
	to {height:100px;}
}
@-webkit-keyframes slideout {
	from {height:100px;}
	to {height:0px;}
}
@keyframes slide {
	from {height:0px;}
	to {height:100px;}
}
@keyframes slideout {
	from {height:100px;}
	to {height:0px;}
}
.item-icon {
	float: right;
}
.note {
	color: #7F9582;
}

#settings-cog-cb {
	display: none;
}
#settings-cog-cb + label {
	float: right;
	margin-right: 25px;
}

#settings-cog-cb:checked + label + #settings-group {
	display: block;
	height: 100px;
	overflow:auto;
	animation: slide;
	animation-duration: 0.65s;
}
#settings-group {
	display: none;
	float:right;
	margin:25px;
}

#settings-cog-cb:not(:checked) + label + #settings-group {
	display: block;
	height: 0px;
	overflow:auto;
	animation: slideout;
	animation-duration: 0.65s;
}

#settings-group::-webkit-scrollbar { 
	display: none; 
}
#settings-group::scrollbar { 
	display: none; 
}
.panel-success > .panel-heading {
	color: white;
	background-color: #04832c;

}
.panel-group {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	color: black;
	width: 94%;
} 
.panel-heading {
	text-align: center;
}
.panel {
	margin: 0.5%;
	width:32%;
	margin-top: 0;
}

.panel-body {
	margin-top: 10px;
	
}
#active-settings{
	display: block;
}

ul {
	list-style-type: none;
}
@media only screen and (max-width: 30em) {
	.panel {
		width: 100%;
	}
}