<input type="checkbox" checked id=settings-cog-cb>
<label for="settings-cog-cb"> <img src="./assets/settings-cog.svg" height="25px" width="25px"></label>
<div id="settings-group">
  <settings (settingsChange)="settingsChange($event)"> </settings>
</div>

<div class="panel-group">
  <div *ngIf="items.length < 1"> We're having trouble connecting to the oldschool runescape servers. Sorry for the Inconvienience"</div>
  <div *ngFor="#item of items | orderBy: ['-revenue'];#index = index;" [class.panel-success]="index == 0" class="panel panel-default">
    <div class="panel-heading">{{item.name}}</div>
    <div class="panel-body">
    	<ul>
       <li> Price/Item: {{item.price}}gp</li>
       <li> Revenue/trip: {{calculatePricePerTrip(item)| number}}</li>
       <li> Gp/Hour: {{calculateGP(item) | number}}
     </ul>

      <img class="item-icon" src="http://services.runescape.com/m=itemdb_oldschool/5279_obj_sprite.gif?id={{item.id}}">
   </div>
 </div>
</div>
